# Node & Bun artifacts
node_modules/
dist/
.djs-core/

# Environment variables
.env

# Dev
*.dev
*.db
# tsc may emit declarations next to sources if run without outDir
packages/**/*.d.ts
plugins/**/*.d.ts
.djscore
.turbo


.idea