:root {
	--sl-color-accent-low: #3d4491;
	--sl-color-accent: #5865f2;
	--sl-color-accent-high: #a5adf8;
}

:root[data-theme="dark"] {
	--sl-color-accent-low: #2e3578;
	--sl-color-accent: #7289da;
	--sl-color-accent-high: #c4cbfb;
}
