name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    concurrency:
      group: ci-${{ github.ref_name }}
      cancel-in-progress: true

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Check Types
        run: bun tsc

      - name: Lint
        run: bun lint

      - name: Run Build
        run: bun run build

      - name: Run Tests
        run: bun test