name: Changesets

on:
  push:
    branches:
      - main

concurrency:
  group: changesets-${{ github.ref }}
  cancel-in-progress: false

jobs:
  version-or-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun i 
      - name: Ensure npm is recent
        run: npm --version

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          version: bun run version-packages
          publish: bun run publish-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
